:root {
  --radius: 0.75rem;
  --background: oklch(0.9 0 0);
  --foreground: oklch(0.131 0.003 230.554);
  --card: oklch(0.9 0 0);
  --card-foreground: oklch(0.131 0.003 230.554);
  --popover: oklch(0.9 0 0);
  --popover-foreground: oklch(0.131 0.003 230.554);
  --primary: oklch(0.563 0.142 241.060);
  --primary-foreground: oklch(0.866 0.002 230.689);
  --secondary: oklch(0.797 0.016 230.919);
  --secondary-foreground: oklch(0.196 0.015 231.835);
  --muted: oklch(0.797 0.016 230.919);
  --muted-foreground: oklch(0.51 0.062 232.907);
  --accent: oklch(0.733 0.059 231.921);
  --accent-foreground: oklch(0.201 0.031 233.999);
  --destructive: oklch(0.522 0.237 28.430);
  --border: oklch(0.762 0.022 231.033);
  --input: oklch(0.762 0.022 231.033);
  --ring: oklch(0.563 0.142 241.060);
  --chart-1: oklch(0.563 0.142 241.060);
  --chart-2: oklch(0.644 0.114 235.048);
  --chart-3: oklch(0.7 0.071 232.381);
  --chart-4: oklch(0.425 0.107 241.108);
  --chart-5: oklch(0.319 0.075 239.223);
  --sidebar: oklch(0.797 0.016 230.919);
  --sidebar-foreground: oklch(0.196 0.015 231.835);
  --sidebar-primary: oklch(0.563 0.142 241.060);
  --sidebar-primary-foreground: oklch(0.866 0.002 230.689);
  --sidebar-accent: oklch(0.733 0.059 231.921);
  --sidebar-accent-foreground: oklch(0.201 0.031 233.999);
  --sidebar-border: oklch(0.762 0.022 231.033);
  --sidebar-ring: oklch(0.563 0.142 241.060);
  --gradient-primary: linear-gradient(120deg, #02024D 0%, #00D4FF 100%);
  --gradient-accent: linear-gradient(120deg, #4C6A8A 0%, #7dd3fc 100%);
  --shadow: oklch(0.765 0.01 260 / 0.8);
  --shadow-color: oklch(0.765 0.01 260 / 0.8);
}

.dark {
  --background: oklch(0.177 0.015 226.191);
  --foreground: oklch(0.866 0.002 225.007);
  --card: oklch(0.22 0.021 226.451);
  --card-foreground: oklch(0.866 0.002 225.007);
  --popover: oklch(0.22 0.021 226.451);
  --popover-foreground: oklch(0.866 0.002 225.007);
  --primary: oklch(0.549 0.124 234.437);
  --primary-foreground: oklch(0.866 0.002 225.007);
  --secondary: oklch(0.317 0.034 226.799);
  --secondary-foreground: oklch(0.866 0.002 225.007);
  --muted: oklch(0.317 0.034 226.799);
  --muted-foreground: oklch(0.657 0.024 225.402);
  --accent: oklch(0.486 0.215 267.602);
  --accent-foreground: oklch(0.17 0.042 271.289);
  --destructive: oklch(0.522 0.237 28.430);
  --border: oklch(0.392 0.050 227.430);
  --input: oklch(0.392 0.050 227.430);
  --ring: oklch(0.549 0.124 234.437);
  --chart-1: oklch(0.549 0.124 234.437);
  --chart-2: oklch(0.662 0.136 232.036);
  --chart-3: oklch(0.713 0.118 229.038);
  --chart-4: oklch(0.392 0.080 232.002);
  --chart-5: oklch(0.283 0.050 229.765);
  --sidebar: oklch(0.298 0.032 226.749);
  --sidebar-foreground: oklch(0.866 0.002 225.007);
  --sidebar-primary: oklch(0.549 0.124 234.437);
  --sidebar-primary-foreground: oklch(0.866 0.002 225.007);
  --sidebar-accent: oklch(0.486 0.215 267.602);
  --sidebar-accent-foreground: oklch(0.17 0.042 271.289);
  --sidebar-border: oklch(0.392 0.050 227.430);
  --sidebar-ring: oklch(0.549 0.124 234.437);
  --gradient-primary: linear-gradient(120deg, #02024D 0%, #00D4FF 100%);
  --gradient-accent: linear-gradient(240deg, #02024D 0%, #00D4FF 100%);
  --shadow: oklch(0.765 0.01 260 / 0.8);
  --shadow-color: oklch(0.765 0.01 260 / 0.8);
}
