:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.256 0.000 0);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.256 0.000 0);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.256 0.000 0);
  --primary: oklch(0.279 0.037 249.265);
  --primary-foreground: oklch(0.991 0.000 0);
  --secondary: oklch(0.335 0.064 236.534);
  --secondary-foreground: oklch(0.289 0.000 0);
  --muted: oklch(0.984 0.003 247.858);
  --muted-foreground: oklch(0.633 0.000 0);
  --accent: oklch(0.514 0.062 250.675);
  --accent-foreground: oklch(0.289 0.000 0);
  --destructive: oklch(0.556 0.145 24.000);
  --border: oklch(0.943 0.000 0);
  --input: oklch(0.943 0.000 0);
  --ring: oklch(0.767 0.000 0);
  --chart-1: oklch(0.719 0.112 90.311);
  --chart-2: oklch(0.656 0.095 228.715);
  --chart-3: oklch(0.514 0.156 272.063);
  --chart-4: oklch(0.788 0.132 93.823);
  --chart-5: oklch(0.788 0.132 93.823);
  --sidebar: oklch(0.991 0.000 0);
  --sidebar-foreground: oklch(0.256 0.000 0);
  --sidebar-primary: oklch(0.289 0.000 0);
  --sidebar-primary-foreground: oklch(0.991 0.000 0);
  --sidebar-accent: oklch(0.984 0.003 247.858);
  --sidebar-accent-foreground: oklch(0.289 0.000 0);
  --sidebar-border: oklch(0.943 0.000 0);
  --sidebar-ring: oklch(0.767 0.000 0);
  --gradient-primary: oklch(0.195 0.128 265.829);
  --gradient-accent: oklch(0.514 0.062 250.675);
}

.dark {
  --background: oklch(0.256 0.000 0);
  --foreground: oklch(0.991 0.000 0);
  --card: oklch(0.289 0.000 0);
  --card-foreground: oklch(0.991 0.000 0);
  --popover: oklch(0.289 0.000 0);
  --popover-foreground: oklch(0.991 0.000 0);
  --primary: oklch(0.376 0.101 252.833);
  --primary-foreground: oklch(0.289 0.000 0);
  --secondary: oklch(0.396 0.076 241.968);
  --secondary-foreground: oklch(0.991 0.000 0);
  --muted: oklch(0.387 0.000 0);
  --muted-foreground: oklch(0.767 0.000 0);
  --accent: oklch(0.463 0.066 243.688);
  --accent-foreground: oklch(0.991 0.000 0);
  --destructive: oklch(0.556 0.145 24.000);
  --border: oklch(0.218 0.000 0);
  --input: oklch(0.269 0.000 0);
  --ring: oklch(0.633 0.000 0);
  --chart-1: oklch(0.514 0.156 272.063);
  --chart-2: oklch(0.740 0.104 195.146);
  --chart-3: oklch(0.788 0.132 93.823);
  --chart-4: oklch(0.480 0.179 277.299);
  --chart-5: oklch(0.719 0.112 90.311);
  --sidebar: oklch(0.289 0.000 0);
  --sidebar-foreground: oklch(0.991 0.000 0);
  --sidebar-primary: oklch(0.514 0.156 272.063);
  --sidebar-primary-foreground: oklch(0.991 0.000 0);
  --sidebar-accent: oklch(0.387 0.000 0);
  --sidebar-accent-foreground: oklch(0.991 0.000 0);
  --sidebar-border: oklch(0.218 0.000 0);
  --sidebar-ring: oklch(0.633 0.000 0);
  --gradient-primary: oklch(0.195 0.128 265.829);
  --gradient-accent: oklch(0.514 0.062 250.675);
}
